__pycache__
.DS_Store
/build/
/dist/
Peak_Fit/Old/
/Baseline_Comparison/png/*.png
/Baseline_Comparison/DevolatilizedBL/
/FIGURES/
/LOGFILES/
/NPZTXTFILES/
/PLOTFILES/
Thickness/FuegoOlMicrometer.csv
Thickness/FuegoOlThickness.csv
Thickness/ND70_Micrometer.csv
Thickness/ND70_Thickness_HighQuality.csv
Thickness/ND70_Thickness_LowQuality.csv
Thickness/ThicknessFunction_Old.py
Thickness/ThicknessFunction_Plotting.py
Volatiles_Speciation/Old/
Volatiles_Speciation/AC4_OL49_pairwise.pdf
Volatiles_Speciation/AC4_OL49_trace.pdf
Volatiles_Speciation/AC4_OL49_histogram.pdf
Epsilon_Inversion/OldEpsilonRegressions/
src/PyIRoGlass.egg-info/
pairplot.pdf
pairplot_molfrac.pdf
pairplot_molfrac_kde.pdf
pairplot_pca.pdf
correlation.csv
correlation_molfrac.csv
correlation_pca.csv
