__pycache__
.DS_Store
/build/
/dist/
Peak_Fit/Old/
/Baseline_Comparison/png/*.png
/Baseline_Comparison/DevolatilizedBL/
/Baseline_Comparison/ND70Spec/
/FIGURES/
/LOGFILES/
/NPZTXTFILES/
/PLOTFILES/
/Inputs/TransmissionSpectra/Devolatilized
Thickness/FuegoOlMicrometer.csv
Thickness/FuegoOlThickness.csv
Thickness/ND70_Micrometer.csv
Thickness/ND70_Thickness_HighQuality.csv
Thickness/ND70_Thickness_LowQuality.csv
Thickness/ThicknessFunction_Old.py
Thickness/ThicknessFunction_Plotting.py
Volatiles_Speciation/Old/
Volatiles_Speciation/AC4_OL49_pairwise.pdf
Volatiles_Speciation/AC4_OL49_trace.pdf
Volatiles_Speciation/AC4_OL49_histogram.pdf
Epsilon_Inversion/OldEpsilonRegressions/
src/PyIRoGlass.egg-info/
/Baseline_Comparison/pairplot.pdf
/Baseline_Comparison/pairplot_molfrac.pdf
/Baseline_Comparison/pairplot_molfrac_kde.pdf
/Baseline_Comparison/pairplot_pca.pdf
/Baseline_Comparison/correlation.csv
/Baseline_Comparison/correlation_molfrac.csv
/Baseline_Comparison/correlation_pca.csv
