.DS_Store
MC3_BASELINES.egg-info/
dist/
OldRegressions/
PEAKFIT_FINAL/Old/
__pycache__
Inputs/FuegoChemistry_NEW_H2O_Fe2O3.csv
THICKNESS/FuegoOlMicrometer.csv
THICKNESS/FuegoOlThickness.csv
THICKNESS/ND70_Micrometer.csv
THICKNESS/ND70_Thickness_HighQuality.csv
THICKNESS/ND70_Thickness_LowQuality.csv
THICKNESS/ThicknessFunction_Old.py
THICKNESS/ThicknessFunction_Plotting.py
VOLATILESANDSPECIATION_FINAL/Old/
MC3_BASELINES/__init__BACKUP.py
MC3_BASELINES/__init__GPT.py
VOLATILESANDSPECIATION_FINAL/AC4_OL49_pairwise.pdf
VOLATILESANDSPECIATION_FINAL/AC4_OL49_trace.pdf
VOLATILESANDSPECIATION_FINAL/AC4_OL49_histogram.pdf
EPSILONINVERSION_FINAL/OldEpsilonRegressions/
PyIRoGlass_RUN_SCS.py